
<div class="container">
    <h1>Add New Pizza</h1>
    <form action="/pizzas" method="POST">
        <label for="name">Pizza Name:</label>
        <input type="text" name="name" id="name" required>

        <label for="price">Pizza Price:</label>
        <input type="number" name="price" id="price" required>

        <label for="size">Pizza Size:</label>
        <input type="text" name="size" id="size" required>

        <button type="submit">Add Pizza</button>
    </form>
</div>
